<h2>INIT</h2>
{{#each initCP as |item|}}
  <li>{{item.name}}: visible: {{item.shouldDisplay}}</li>
{{/each}}

<h2>IIFE</h2>
{{#each iifeCP as |item|}}
  <li>{{item.name}}: visible: {{item.shouldDisplay}}</li>
{{/each}}

<h2>Prototype</h2>
{{#each prototypeCP as |item|}}
  <li>{{item.name}}: visible: {{item.shouldDisplay}}</li>
{{/each}}